
table {
    border: 0px;
    background-color: black;
}

.cover {
    background-color: #ccc;
}
td, .cover-chack{
    background: white;
}

.background,.footer,.header{
    background: #bbb;
}

.button{
    background: #f2f2f2;
    color: black;
}
.footer{
    border-top: 3px solid black;
}
.header{
    border-bottom: 3px solid black;
}


.safe{
    background-color: green;
}

.n1{color:blue;}
.n2{color:green;}
.n3{color:red;}
.n4{color:darkblue;}
.n5{color:brown;}
.n6{color:darkred;}
.n7{color:rgb(87, 14, 14);}
.n8{color:black;}

