table {
    border: 0px black solid;
}

td {
    border: 0px black solid;
    height: 35px;
    width: 35px;
}

.mine-cover{
    display: block;
}
.cover {
    display: none;
}

.num {
    height: 30px;
    width: 30px;
    position: fixed;
}

.mark {
    background-image: url('../img/flug.png');
    background-repeat: round;
}